<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
    <style type="text/css">
    	img {
    		width: 300px;
    		height: 300px;
    	}
    </style>
</head>

<body>
	<!-- Template for each image -->
    <script id="entry-template" type="text/x-handlebars-template">
        <li>
            <a href="{{permalink}}" data-largesrc="{{image_full_gif}}" data-timeintern=" " data-time="{{time}}" data-title=" ">
                <img id="moment-{{number}}" src="loader.gif" data-image="{{image_small_gif}}" alt="Momentmal Photo vom {{time}}" />
            </a>
        </li>
    </script>


    <h1>Momentmal Images</h1>

    <!-- List of all images -->
    <ul id="momentmal">
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js"></script>
    <script src="momentmal.js"></script>
</body>

</html>
